################################################################################
# C++
################################################################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

################################################################################
# JUCE
################################################################################

# Builds and CMake
build/*
!build/*.sh

################################################################################
# Tests
################################################################################

tests/host_tests/*

################################################################################
# IDEs
################################################################################

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

################################################################################
# Misc
################################################################################

.DS_Store
notes/*

ci_cd/bin
