################################################################################
# C++
################################################################################

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

################################################################################
# JUCE
################################################################################

# Builds and CMake
build/*
!build/build.sh
ci_cd/packaging/mac/*
!ci_cd/packaging/mac/background.png
!ci_cd/packaging/mac/bw_utility.pkgproj
ci_cd/bin

################################################################################
# Tests
################################################################################

tests/test_hosts/*

################################################################################
# IDEs
################################################################################

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

################################################################################
# Misc
################################################################################

.DS_Store
notes/*